body {
    background-color: cadetblue;
}

.recipeLink {
    
    font-weight: bold;
    font-size: larger;
    font-size: 30px;
}

li,
figcaption,
p {

    font-size: large;
    font-weight: 600;
}

.returnHome {
    font-size: 30px;
    font-weight: bolder;
}